@import "./base/typography";
@import "./abstracts/variables";
@import "./layout/flex";

#app-home-page {
    .mood-image{
        position: relative;
        max-height: 550px;
        overflow: hidden;
        img{
            max-width: 100%;
        }
        .fader{
            position: absolute;
            background-color: transparent;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0; 
            -webkit-box-shadow: inset 0px -46px 25px -20px white;
            -moz-box-shadow: inset 0px -46px 25px -20px white;
            box-shadow: inset 0px -46px 25px -20px white;
        }
        
        
    }
    .gallery{
        margin-top:130px;
        .gallery-head{
            margin-bottom: 27px;
            h2{
                @include font-headers(26px, $font-gray);
                margin: 0 auto;
                text-align: center;
            }
        }
        .gallery-filters{
            margin-bottom: 50px;
            ul{  
                margin: 6px auto;
                width: 434px;
                @include flexbox();
                @include align-items(stretch);
                @include justify-content(space-between);
                list-style-type: none;
                li{
                    a{
                        @include font-paragraph-1(17px, $font-gray);
                        text-decoration: none;
                        cursor: pointer;
                        padding: 10px 15px;
                        border-bottom: 2px solid #fff;
                        transition: all .3s;
                        &:hover{
                            border-bottom: 2px solid #000;
                            transition: all .3s;
                        }
                    }
                } 
            }
        }
        .gallery-body{
            .grid{
                max-width: 900px;
                margin: 0 auto;
               }
               .gutter-sizer{
                   width: 1%;
               }
               .grid-sizer,
               .grid-item {
                 width: 33%;
               }
               .grid-item{
                        padding:5px;
                   .item-wrapper{
                       position: relative;
                       overflow: hidden;
                   }     
                   img{
                       background: #D8D5D2;
                       width: 100%;
                       transition: all .3s;
                   }
                   .item-info{
                        @include flexbox();
                        @include flex-direction(column);
                        @include justify-content(center);
                        opacity: 0;
                        background-color: rgba(255,255,255,0.64);
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        transition: all .3s;
                        padding: 0 15px;
                        h4{
                            @include font-headers(18px, $font-gray);
                        }
                        p{  
                            padding: 10px 0;
                            @include font-paragraph-1(14px, $font-gray);
                        }
                   }
                   &:hover{
                    .item-info{
                        opacity: 1;
                        transition: all .3s;
                    }
                    img{
                        filter: blur(4px);
                        -webkit-filter: blur(4px);
                        transition: all .3s;
                        //transform: scale(1.1);
                    }
                   }
               } 
        }
    }
    .about-me{
        margin-top: 190px;
        height: 700px;
        background-color: #F1F6F6;
        @include flexbox();
        @include align-items(center);
        .info{
            max-width: 1024px;
            margin: 0 auto;
            h2{
                text-align: center;
                @include font-headers(23px, $font-gray);
            }
            h3{
                text-align: center;
                @include font-paragraph-1(20px, $font-gray);
            }
            p{
                margin-top: 40px;
                @include font-paragraph-1(16px, $font-gray);
            }
        }
    }
}