@import "./base/typography";
@import "./abstracts/variables";
@import "./layout/flex";

#app-nav{
    padding-top: 70px;
    width: 100%;
    background:transparent;
    position: absolute;
    z-index: 2;
    h1{
        @include font-headers(30px, $font-gray);
        margin: 0 auto;
        text-align: center;
    }
    nav{
        height: 100%;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        margin: 45px auto;
        ul{  
            margin: 0;
            width: 434px;
            @include flexbox();
            @include align-items(stretch);
            @include justify-content(space-between);
            list-style-type: none;
            li{
                a{
                    @include font-paragraph-1(17px, $font-gray);
                    text-decoration: none;
                    cursor: pointer;
                    &:hover{
                        color:$white;
                    }
                }
            } 
        }
    }
}
